.play_page_meta_img {
    
    width: 90vw;
    height: 90vw;;
    background-color: rgba(238, 238, 238, 0.6);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;

    overflow: hidden;
    
}
.play_page_meta_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.8;
}