.play_controller {

    position: absolute;
    z-index: 700;
    width: 90vw;
    height: 100px;
    top: calc(100% - 260px);
    left: 5vw;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.play_button {

    width: 75px;
    height: 75px;
    background-color: #eaeaea;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.1s ease;

}
.play_button:active {
    transform: scale(0.9);
}