.svg_color {
    fill: rgba(0, 0, 0, 0);
    transition: fill 0.3s ease;
}
.svg_active_color {}    /* 占位用的，记住有这个玩意 */
.box_color {

    /* 模糊 */
    backdrop-filter: blur(10px);
    
    /* 胶囊内发光效果 */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 2px rgba(255, 255, 255, 0.8),
        inset 0 -1px 2px rgba(0, 0, 0, 0.1),
        inset 0 0 15px rgba(255, 255, 255, 0.3);

}
.box_active_color {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}
.font_color {
    color: rgba(0, 0, 0, 0);
    transition: color 0.3s ease;
}