.svg_color {
    fill: rgba(0, 0, 0, 0.4);
    transition: fill 1s ease;
}

.box_color {

    /* 模糊 */
    backdrop-filter: blur(10px);
    
    /* 胶囊内发光效果 */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 2px rgba(255, 255, 255, 0.8),
        inset 0 -1px 2px rgba(0, 0, 0, 0.1),
        inset 0 0 15px rgba(255, 255, 255, 0.3);

}
.font_color {
    color: rgba(0, 0, 0, 0.4);
}