/* 进度条背景 */
.bg_song_range {

    position: absolute;
    top: 100vh;
    left: 0;
    z-index: 800;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    
    opacity: 0;

    transition: opacity 0.3s ease;

}
.bg_song_range.active {
    opacity: 1;
}

/* 进度条框架 */
.bg_song_range_bar_frame {

    position: absolute;
    top: 67%;
    left: 5%;

    width: 90%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;

}

/* 进度显示条 */
.bg_song_range_bar {
    
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 10px;

}