/* 属taskbar界面的 */
.music_bar_meta_img_frame {

    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 25%;
    z-index: 910;

    position: absolute;
    top: 25%;
    left: 12.5px;

}

.music_bar_meta_img {

    height: 100%;
    width: 100%;
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.2);
    background-image: url(../files/CD.png);
    background-size: cover;

    transition: border-radius 0.3s ease, transform 0.3s ease;

}

/* 属player页面的 */
.player_meta_img_frame {
    height: min(100cqw, 100cqh, 90%);
    aspect-ratio: 1/1;
}
.player_meta_img {

    height: 100%;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.2);
    overflow: hidden;
    background-image: url(../files/CD.png);
    background-size: cover;

    transition: border-radius 0.3s ease, transform 0.3s ease;

}