.page {
    
    position: fixed;
    top: 40px;
    left: 0;

    width: 100%;
    height: calc(100% - 40px);

    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    transform: translateX(0);

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.page > * {
    width: 100%;
    height: 100%;
    border: none;
    flex-shrink: 0;
    overflow: hidden;
}
.player {
    width: 100%;
    height: 100%;
}