.music_range {

    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    opacity: 0;

}

.process_bar_frame {
    position: absolute;
    top: calc(100vh - 270px);
    left: 5%;
    width: 90%;
    height: 25px;
    border-radius: 25px;
    overflow: hidden;
}

.process_bar {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: top 0.3s ease;
}
.process_bar.active {
    top: -2.5px;
}