#button_play {

    position: absolute;
    top: 30%;
    right: -25px;
    height: 40%;
    aspect-ratio: 1/1;

    transition: 
        right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        fill 1s ease;

}
#button_play.active {
    transform: scale(0.85);
}
#button_play.show {
    right: 12.5px;
}

#button_pause {

    position: absolute;
    top: 30%;
    right: -25px;
    height: 40%;
    aspect-ratio: 1/1;

    transition: 
        right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        fill 1s ease;

}
#button_pause.active {
    transform: scale(0.85);
}
#button_pause.show {
    right: 12.5px;
}