/* 地下任务栏 */
.taskbar {

    width: 90%;
    height: 50px;
    border-radius: 25px;

    position: fixed;
    top: calc(100vh - 70px);
    left: 5%;

    /* 定位上下文 */
    overflow: visible;
    touch-action: none; /* 防止默认触摸行为 */
    cursor: pointer;

    /* 移除触摸高亮 */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    outline: none;

    /* 过渡动画 */
    transition: 
        transform 0.1s cubic-bezier(0.34, 1.56, 0.64, 1),
        height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.taskbar.active {
    /* 点击时的缩放效果 */
    transform: scale(0.95);
}
.taskbar.double {
    /* 音乐播放器，双层栏 */
    height: 105px;
    top: calc(100vh - 70px - 55px);
}

/* 任务栏-页面选择器 */
.taskbar_page {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.taskbar_page.double {
    top: 55px;
}

/* 图标 */
.taskbar_page_icon {

    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

}
.taskbar_page_icon svg {
    height: 50%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}


/* 页面切换栏触控遮罩 */
.taskbar_target {
    
    /* 尺寸覆盖整个 taskbar */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 900;

}

/* 音乐栏遮罩 */
.taskbar_music_hidden {
    /* 尺寸覆盖整个 taskbar */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}

/* 音乐栏 */
.taskbar_music {

    /* 尺寸 */
    height: 50px;
    width: calc(100% - 25px);
    border-radius: 25px;

    /* 定位 */
    position: absolute;
    top: -55px;
    left: 0;

    /* 布局 */
    display: flex;
    align-items: center;
    overflow: hidden;

    /* 内边距限位 */
    padding: 0 12.5px; /* 左右添加内边距，让子元素不紧贴圆角 */

    transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.taskbar_music.double {
    transition: top 0.3s ease;
    top: 0;
}
.taskbar_music img {
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    z-index: 100;
}

/* 音乐栏触控板 */
.taskbar_music_touch {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: 50px;
    z-index: 900;
}

/* 歌曲显示栏 */
.taskbar_music_song_name {
    
    margin-left: 12.5px;
    width: calc(100% - 50px);
    height: 50px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    white-space: nowrap;
    align-items: center;

    /* 滑动容器相关样式 */
    transform: translateX(0);
    transform-origin: left center;
    will-change: transform;

}
.taskbar_music_song_name p {
    /* 每个p标签占100%宽度，实现翻页效果 */
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    
    /* 添加50%的右边距，使其他标签屏幕外排队 */
    margin-right: 50%;
    
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    text-overflow: ellipsis;
}

/* taskbar播放按钮 */
#button_play {

    position: absolute;
    top: 30%;
    right: -25px;
    height: 40%;
    aspect-ratio: 1/1;

    transition: 
        right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        fill 1s ease;

}
#button_play.active {
    transform: scale(0.85);
}
#button_play.show {
    right: 12.5px;
}

/* taskbar暂停按钮 */
#button_pause {

    position: absolute;
    top: 30%;
    right: -25px;
    height: 40%;
    aspect-ratio: 1/1;

    transition: 
        right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        fill 1s ease;

}
#button_pause.active {
    transform: scale(0.85);
}
#button_pause.show {
    right: 12.5px;
}