.title_frame {
    margin-left: 5%;
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    height: 40px;
    width: auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.title > p {
    font-size: 1rem;
    font-weight: 450;
}

.sub_title {
    margin-top: 10px;
    height: 30px;
    width: auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.sub_title > p {
    font-size: 0.8rem;
    font-weight: 450;
}