.player_title {

    width: auto;
    max-width: 50%;
    height: 40px;
    border-radius: 40px;
    border: 0;
    padding: 0 12.5px;

    position: absolute;
    top: 0;
    left: 0;

}
.player_title p {

    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: 750;

}

.player_sub_title {

    width: auto;
    max-width: 50%;
    height: 30px;
    border-radius: 30px;
    border: 0;
    padding: 0 12.5px;

    position: absolute;
    top: 50px;
    left: 0;

}
.player_sub_title p {

    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    font-weight: 600;

}