.meta_img {

    height: 100%;
    width: 100%;
    border-radius: 25%;
    overflow: hidden;

    transition: border-radius 0.3s ease, transform 0.3s ease;

}
.meta_img.active {
    border-radius: 100%;
    transform: rotate(90deg);
}

.meta_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}