/* 音乐栏 */
.music_bar {

    height: 50px;
    width: calc(100% - 25px);   /* 减去左右内边距 */
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 0 12.5px;   /* 内边距限位 */

    position: absolute;
    top: -55px;
    left: 0;

    overflow: hidden;

    transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.music_bar.double {
    transition: top 0.3s ease;
    top: 0;
}

/* 触控板 */
.music_bar_touch {
    
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: 100%;

    z-index: 980;

    /* 禁用默认触摸行为，防止滚动 */
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

}

/* 播放暂停按钮 */
.music_bar_play_pause_button  {
    
    height: 50%;
    aspect-ratio: 1/1;

    position: absolute;
    top: 25%;
    right: 12.5px;
    z-index: 910;
    
    transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.music_bar_play_pause_button.active {
    transform: scale(0.85);
}
.music_bar_play_pause_button.hidden {
    right: -50px;
}

/* 专辑封面框架 */
.music_bar_meta_img {

    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 25%;
    z-index: 910;

    position: absolute;
    top: 25%;
    left: 12.5px;

}

/* 标题 */
.music_bar_song_name {
    
    width: calc(100% - 100px);
    height: 50%;
    
    position: absolute;
    top: 25%;
    left: 50px;

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(calc(0% - 0px));

}

/* 滑动时禁用过渡效果 */
.music_bar_song_name.dragging {
    transition: none;
}
.music_bar_song_name p {

    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 550;

}