#taskbar {

    position: fixed;
    z-index: 900;
    bottom: 50px;
    left: 5vw;
    width: 90vw;
    height: 50px;
    background-color: rgba(238, 238, 238, 0.2);
    border-radius: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    transition: all 0.3s ease;

}
#taskbar.active {
    transition: all 0.1s ease;
    transform: scale(0.9);
}
#taskbar.hide {
    transition: all 0.3s ease;
    width: 100vw;
    height: 70px;
    left: 0vw;
    bottom: -100px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}
#taskbar img {
    z-index: 910;
}

#taskbar_selector {

    position: absolute;
    z-index: 905;
    width: 25%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    left: 100%;

    transition: transform 0.2s ease, background-color 1s ease;

}