.time_display {

    width: 50px;
    height: 25px;
    background-color: #eaeaea;
    border-radius: 50px;

    position: absolute;
    top: calc(100% - 50px);

    display: flex;
    justify-content: center;
    align-items: center;

}
.time_display p {

    font-weight: 450;
    font-size: 10px;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    margin: 0;
    padding: 0;
    
}