.sub_title {
    top: calc(80% - 125px);
    left: 25px;
    height: 25px;
    width: auto;
    position: absolute;
    background: #eaeaea;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px; /* 左侧间距 */
    padding-right: 10px; /* 右侧间距 */
}
.sub_title p {

    font-weight: 450;
    font-size: 10px;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    margin: 0;
    padding: 0;
    
}

.title {
    top: calc(80% - 165px);
    left: 25px;
    height: 30px;
    width: auto;
    position: absolute;
    background: #eaeaea;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px; /* 左侧间距 */
    padding-right: 10px; /* 右侧间距 */
}
.title p {

    font-weight: 450;
    font-size: 15px;
    color: rgb(100, 100, 100);
    white-space: nowrap;
    margin: 0;
    padding: 0;
    
}